@media only screen and (min-width: 600px) {.App{
  text-align: center;
  background-image: url(https://img.freepik.com/free-photo/wall-blank-paper-frame-with-acorn-decoration_53876-105706.jpg?w=2000);
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  background-size: 1550px 800px;
  background-attachment: fixed;
}
.box {
  top: 30%;
  left: 37%;
  background-color: transparent;
  width: 400px;
  height: 300px;
  color: black;
  position: absolute;
  text-align: center;
}
.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

}

@media only screen and (max-width: 600px) {
  .App{
    text-align: center;
    justify-content: center;
    background-image: url(https://img.freepik.com/free-photo/wall-blank-paper-frame-with-acorn-decoration_53876-105706.jpg?w=2000);
    background-repeat: no-repeat;
    background-size: contain;
    max-height: 1200px;
    margin: 0%;
  }
  .box{
    background-color: transparent;
  }
  .App-header {
    min-height: 30vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: black;
  }
} 





button{
  width: 60px;
  height: 30px;
  background-color: #141212;
  border-radius: 5px;
  color: white;
}